<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle">Address Book</span>
    <a *ngFor="let item of navItemsArray" mat-button class="top-menu-item" [routerLink]="[item.path]">{{ item.label}}</a>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side" opened>
        <div class="side-nav-items">
            <div  *ngFor="let item of navItemsArray">
                <a mat-button (click)="sidenav.close()" class="side-menu-item" [routerLink]="[item.path]"><mat-icon>{{ item.icon }}</mat-icon>{{ item.label }}</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

