<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle">Address Book</span>
    <a mat-button class="top-menu-item" [routerLink]="['/']">Home</a>
    <a mat-button class="top-menu-item" [routerLink]="['/contacts']">Contact</a>
    <a mat-button class="top-menu-item" [routerLink]="['/newcontact']">New Contact</a>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side" opened>
        <div class="side-nav-items">
            <div>
                <a mat-button (click)="sidenav.close()" class="side-menu-item" [routerLink]="['/']"><mat-icon>home</mat-icon>Home</a>
            </div>
            <div>
                <a mat-button (click)="sidenav.close()" class="side-menu-item" [routerLink]="['/contacts']"><mat-icon>contacts_product</mat-icon>contacts</a>
            </div>
            <div>
                <a mat-button (click)="sidenav.close()" class="side-menu-item" [routerLink]="['/newcontact']"><mat-icon>person_add</mat-icon>New Contact</a>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

